<div class="container">
<table class="table table-hover" id="job-list">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">
        Company
        <a href="/sort?sort=company&order=asc"><i class="bi bi-caret-up-fill"></i></a>
        <a href="/sort?sort=company&order=desc"><i class="bi bi-caret-down-fill"></i></a>
      </th>
      <th scope="col">
        Dato
        <a href="/sort?sort=dato&order=asc"><i class="bi bi-caret-up-fill"></i></a>
        <a href="/sort?sort=dato&order=desc"><i class="bi bi-caret-down-fill"></i></a>
      </th>
      <th scope="col">
        Lokasjon
        <a href="/sort?sort=lokasjon&order=asc"><i class="bi bi-caret-up-fill"></i></a>
        <a href="/sort?sort=lokasjon&order=desc"><i class="bi bi-caret-down-fill"></i></a>
      </th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.forEach(function(job) { %>
      <tr>
        <td><%- job.id %></td>
        <td><%- job.company %></td>
        <td><%- job.dato %></td>
        <td><%- job.lokasjon %></td>
        <td><%- job.tekst %></td>
        <td><a href="<%- job.link %>">Apply</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>
</div>